# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
*.cmd
acorn
atob
autoprefixer-info
browserslist
build-optimizer
cordova
create
errno
esparse
esvalidate
har-validator
in-install
in-publish
ionic-app-scripts
js-yaml
json5
miller-rabin
mine
mkdriep
ng-xi18n
ngc
node-gyp
node-sass
nopt
not-in-install
not-in-publish
purify
rimraf
rollup
sassgraph
semver
sha.jssshpk-conv
sshpk-sign
sshpk-verify
strip-indent
tsc
tsickle
tslint
tsserver
uglifyjs
uuid
webpack
which
cordova
create


.vscode/
npm-debug.log*

.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
